*{
    font-family: 'Poppins',sans-serif;
}
h1{
    color: beige;
}
body{
    background: linear-gradient(245.59deg,  #4d9559  0%, #38703d 28.3%, #133917 75.2%);
}
.icons{
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
}
.icons img{
    margin: 26px 0;
    font-size: 24px;
    transition: all .50s ease;
}
.icons img:hover{
    color: #4d9559;
    transform: translateY(-5px);

}